<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fernando.farmingfarming" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profit"
            android:label="@string/title_activity_profit" >
        </activity>
        <activity
            android:name=".CornProfit"
            android:label="@string/title_activity_corn_profit" >
        </activity>
        <activity
            android:name=".ChangeVariables"
            android:label="@string/title_activity_change_variables" >
        </activity>
    </application>

</manifest>
